@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Great+Vibes&family=Hind:wght@300;400&family=Playfair+Display&family=Roboto:wght@100&family=Satisfy&display=swap');

// font-family: 'Dancing Script', cursive;
// font-family: 'Great Vibes', cursive;
// font-family: 'Hind', sans-serif;
// font-family: 'Playfair Display', serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Satisfy', cursive;

$color1: #302f2f;
$colorbg: #A61C41;
$colortxt: #fff;
$fontlogo: 'Dancing Script', cursive;
$font1: 'Hind', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $colorbg;
    background-image: linear-gradient( #73141B, #A61C41, #BF1F5A);
}

.navbar{
    height: 80px;
    border: 2px solid $color1;
}

.navbar-nav:hover{
    cursor: pointer;
}

.nav-item:hover{
    background-color: $colorbg;
}

span{
    font-size: 40px;
    font-style: italic;
    font-family: $fontlogo;
}

.navbar-brand img{
    height: 70px;
    border-radius: 50px;
}

.nav-link{
    color: $colortxt !important;
    font-size: 20px;
}

main{
    padding: 15px;
    margin: 15px;
    color: $colortxt;
    height: 700px;
    width: 100%;
    background-image: url(img/W1.jpg);
    background-size:cover;
    background-position: center;
    border: 2px solid $color1;
}

.home{
    border: 5px solid $color1 ;
    font-family: $font1;
}

h1{
    font-family: $fontlogo;
    font-size: 70px;
    text-shadow: 0 0 5px $colorbg, 0 0 5px $colorbg, 0 0 5px $colorbg, 0 0 5px $colorbg, 0 0 5px $colorbg;
    margin-top: 10px;
}

footer{
    background-color: #212529;
    color: $colortxt;
    text-align: center;
    padding: 5px;
    border: 2px solid $color1;

    p{
        font-size: 15px;
    }

    .redes{
        margin-top: 10px;
    }

    a{
        color: $colortxt;
        text-shadow: 0 0 5px $colorbg, 0 0 5px $colorbg, 0 0 5px $colorbg,0 0 5px $colorbg;
    }

    i{
        font-size: 15px;
        letter-spacing: 10px;
    }
}

.what{
    height: 60px;
    width: 60px;
    background-color: springgreen;
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-decoration: none;
    color: $colortxt;
    font-size: 30px;
    border: 2px solid $colortxt;
    display: grid;
    place-items: center;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #000;
}

/* Gaston */

.navbar{
    z-index: 1;
}

.soy{
    color: $colortxt;
    font-family: $fontlogo;
    font-size: 45px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: #212529;
    border: 2px solid $color1;
}

.mision{
    text-align: center;
    font-family: $fontlogo;
    font-size: 27px;
    color: $colortxt;
    text-shadow: 0 0 5px $colorbg, 0 0 5px $colorbg, 0 0 5px $colorbg,0 0 5px $colorbg;
}

.img-responsive{
    height: 100px;
    width: 100%;
    height: auto;
    transform: rotatey(0deg);
    transition: all 5s;
}

.img-responsive:hover{
    transform: rotatey(360deg);
}

.presentacion{
    font-family: $font1;
    text-align: center;
    color: $colortxt;
    padding: 35px;
}

/* productos */
.productos{
    font-family: $fontlogo;
    font-size: 100px;
    color: $colortxt;
    text-align: center;
    padding: 15px;
    margin: 10px;
    font-size: 45px;
    text-shadow: 0 0 5px $colorbg, 0 0 5px $colorbg, 0 0 5px $colorbg,0 0 5px $colorbg;
}
.vinos{
    height: 700px;
    width: 100%;
    background-image: url(img/W9.jpg);
    background-size: cover;
    background-position: center;
}

.card{
    margin-top: 15px;
}

.card-title{
    color: #212529;
    text-align: center;
    font-size: 25px;
}

.card-a{
    color: $colortxt;
    text-align: center;
    background-color: $colorbg;
    text-decoration: none;
    display: inline-block;
    width: 90%;
    margin: 10px;
    padding: 10px;
    text-transform:uppercase;
}

.card-a:hover{
    transition: all 1.5s;
    font-family: $fontlogo;
    height: 80px;
    width: 200px;
    font-size: 30px;
    color: #0D0D0D;
    background-color: #BF1F5A;
}

/* Eventos */


.eventos{
    font-family: $fontlogo;
    font-size: 50px;
    color: $colortxt;
    text-align: center;
    margin-top: 15px;
}

.miclase{
    margin-top: 10px;
    width: 100%;
    border: 2px solid $colortxt;
}


/* contacto */

form{
    width: 100%;
    height: 100vh;
    background-color: $color1;
    margin-top: 15px;
    padding: 30px;
    background-image:  linear-gradient(rgba(187, 151, 150, 0.247), rgba(158, 46, 46, 0.397)),  url(img/W4.jpg);
    background-position: center;
    background-size: cover;
}

.contacto{
    text-align: center;
    font-size: 40px;
    font-family: $fontlogo;
    text-transform: uppercase;
}

form input{
    width: 100%;
    font-size: 25px;
    background-color: transparent;
    border: none;
    border-bottom: 4px solid #000;
}

form input::placeholder{
    color: #000;
}

form textarea{
    width: 100%;
    font-size: 25px;
    background-color: transparent;
    border: none;
    border-bottom: 4px solid #000;
}

form textarea::placeholder{
    color: #000;
}

form #enviar{
    background-color: $color1;
    font-size: 25px;
    border: 4px solid #000;
    padding: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    body {
    font-size: 16px;
    }
    h1 {
    font-size: 30px;
    }
    h2 {
    font-size: 30px !important;
    }
    .navbar-brand img{
        height: 50px;
        margin-bottom: 30px;
    } 
    .navbar-brand span{
        font-size: 25px;
    }
    form #enviar{
        font-size: 15px;
    }
    form textarea{
        font-size: 24px;
    }
}


@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .navbar-brand img{
        height: 50px;
        margin-bottom: 30px;
    } 
}