@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Great+Vibes&family=Hind:wght@300;400&family=Playfair+Display&family=Roboto:wght@100&family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #A61C41;
  background-image: linear-gradient(#73141B, #A61C41, #BF1F5A);
}

.navbar {
  height: 80px;
  border: 2px solid #302f2f;
}

.navbar-nav:hover {
  cursor: pointer;
}

.nav-item:hover {
  background-color: #A61C41;
}

span {
  font-size: 40px;
  font-style: italic;
  font-family: "Dancing Script", cursive;
}

.navbar-brand img {
  height: 70px;
  border-radius: 50px;
}

.nav-link {
  color: #fff !important;
  font-size: 20px;
}

main {
  padding: 15px;
  margin: 15px;
  color: #fff;
  height: 700px;
  width: 100%;
  background-image: url(img/W1.jpg);
  background-size: cover;
  background-position: center;
  border: 2px solid #302f2f;
}

.home {
  border: 5px solid #302f2f;
  font-family: "Hind", sans-serif;
}

h1 {
  font-family: "Hind", sans-serif;
  font-size: 70px;
  text-shadow: 0 0 5px #A61C41, 0 0 5px #A61C41, 0 0 5px #A61C41, 0 0 5px #A61C41, 0 0 5px #A61C41;
  margin-top: 10px;
}

footer {
  background-color: #212529;
  color: #fff;
  text-align: center;
  padding: 5px;
  border: 2px solid #302f2f;
}
footer p {
  font-size: 15px;
}
footer .redes {
  margin-top: 10px;
}
footer a {
  color: #fff;
  text-shadow: 0 0 5px #A61C41, 0 0 5px #A61C41, 0 0 5px #A61C41, 0 0 5px #A61C41;
}
footer i {
  font-size: 15px;
  letter-spacing: 10px;
}

.what {
  height: 60px;
  width: 60px;
  background-color: springgreen;
  position: fixed;
  bottom: 40px;
  right: 40px;
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  border: 2px solid #fff;
  display: grid;
  place-items: center;
  border-radius: 50%;
  box-shadow: 2px 2px 5px #000;
}

/* Gaston */
.soy {
  color: #fff;
  font-family: "Dancing Script", cursive;
  font-size: 45px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-color: #212529;
  border: 2px solid #302f2f;
}

.img-responsive {
  height: 100px;
  width: 100%;
  height: auto;
  transform: rotatey(0deg);
  transition: all 5s;
}

.img-responsive:hover {
  transform: rotatey(360deg);
}

.presentacion {
  font-family: "Hind", sans-serif;
  text-align: center;
  color: #fff;
  padding: 35px;
}

/* productos */
.productos {
  font-family: "Dancing Script", cursive;
  font-size: 100px;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin: 10px;
  font-size: 45px;
  text-shadow: 0 0 5px #A61C41, 0 0 5px #A61C41, 0 0 5px #A61C41, 0 0 5px #A61C41;
}

.vinos {
  height: 700px;
  width: 100%;
  background-image: url(img/W9.jpg);
  background-size: cover;
  background-position: center;
}

.card {
  margin-top: 15px;
}

.card-title {
  color: #212529;
  text-align: center;
  font-size: 25px;
}

.card-a {
  color: #fff;
  text-align: center;
  background-color: #A61C41;
  text-decoration: none;
  display: inline-block;
  width: 90%;
  margin: 10px;
  padding: 10px;
  text-transform: uppercase;
}

.card-a:hover {
  transition: all 1.5s;
  font-family: "Dancing Script", cursive;
  height: 80px;
  width: 200px;
  font-size: 30px;
  color: #0D0D0D;
  background-color: #BF1F5A;
}

/* Eventos */
.eventos {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  color: #fff;
  text-align: center;
  margin-top: 15px;
}

.miclase {
  margin-top: 10px;
  width: 100%;
  border: 2px solid #fff;
}

/* contacto */
form {
  width: 100%;
  height: 100vh;
  background-color: #302f2f;
  margin-top: 15px;
  padding: 30px;
  background-image: linear-gradient(rgba(187, 151, 150, 0.247), rgba(158, 46, 46, 0.397)), url(img/W4.jpg);
  background-position: center;
  background-size: cover;
}

.contacto {
  text-align: center;
  font-size: 40px;
  font-family: "Dancing Script", cursive;
  text-transform: uppercase;
}

form input {
  width: 100%;
  font-size: 25px;
  background-color: transparent;
  border: none;
  border-bottom: 4px solid #000;
}

form input::-moz-placeholder {
  color: #000;
}

form input::placeholder {
  color: #000;
}

form textarea {
  width: 100%;
  font-size: 25px;
  background-color: transparent;
  border: none;
  border-bottom: 4px solid #000;
}

form textarea::-moz-placeholder {
  color: #000;
}

form textarea::placeholder {
  color: #000;
}

form #enviar {
  background-color: #302f2f;
  font-size: 25px;
  border: 4px solid #000;
  padding: 10px;
}

@media (max-width: 372px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 24px;
  }
}/*# sourceMappingURL=estilos.css.map */